.section{
  &.section__box {
    padding-top: 94px;
    padding-bottom: 0px;
  }
}

.subtitle-list {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.box-item {
  display: flex;
}

.box-li {
  width: 270px;
}

.box-li:not(:last-child) {
  margin-right: 30px;
}

.box-conteiner {
  width: 100%;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--section-color);

  display: flex;
  align-items: center;
  justify-content: center;
}

.box-icon {
  width: 70px;
  height: 70px;
}

.text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}