.header__container {
  display: flex;
}

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav__list {
  display: flex;

  &.main-nav__link.current {
  color: var(--acent-text-color);
  }
}

.main-nav__item {
  display: inline-block;
  position: relative;

  &:not(:last-child) {
  margin-right: 50px;
  }
}

.main-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  
  @include font();

  transition: color 250ms var(--timing-funcshion);

  &:hover,
  &:focus {
  color: var(--acent-text-color);
  }
}

.decoration.current {
  color: var(--acent-text-color);
}

.main-nav__auht-list {
  display: flex;
  align-items: center;
  margin-left: auto;

  & .main-nav__auht-item + .main-nav__auht-item {
  margin-left: 50px;
 }
}

 .main-nav__auht-link{
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  color: var(--secondary-text-color);

  @include font();

  transition: color 250ms var(--timing-funcshion);

   &:hover,
   &:focus {
  color: var(--acent-text-color);
  }
}

.main-nav__auht-icon {
  display: flex;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  fill: currentColor;
}




